/*Base Universal Box Sizing with Inheritance*/
html {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    font-size: 16px;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    color: #707070;
}

/* layout */
header {
    
    text-align: center;
    padding: 2em 0;
    margin-bottom: 2em;
    background: #f8f8f8;
}
.container {
    width: 90%;
    max-width: 2000px;
    /* border: 1px solid magenta; */
    margin: 0 auto;
}
.container-flex-column {
    /* border: 1px solid magenta; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.header {
    /* border: 1px solid magenta; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

footer{
    background: #143774;
    color: white;
    text-align: center;
    padding: 1em;
}

.avatar{
    width: 100%;
    max-width: 100px;
    height: auto;
    border-radius: 50%;
}

/* navigation */
nav ul {
    /* border: 1px solid magenta; */
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav li {
    /* border: 1px dotted orange; */
    /* margin: 0 1em; */
    margin-left: 2em;
}

nav a {
    /* border: 1px solid green; */
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: 0.25em 0;
}
@media (max-width: 675px) {
    nav ul {
        /* justify-content: space-between; */
        align-items: center;
        flex-direction: column;
    }
    .header{
        flex-direction: column;
    }

    nav li {
        margin: 0.5em 0;
    }
}
nav a:hover,
nav a:focus {
    color: #1792d2;
}
.current-page {
    /* color: red; */
    /* text-decoration: underline; */
    border-bottom: 1px solid #707070;
}

.current-page:hover {
    color: #707070;
}
